.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.swal-title {
    text-align: left !important;
}

.swal-footer {
    text-align: center !important;
}
.pdf-wrapper {

    /*height: 90vh;*/
    /*overflow: auto;*/
    /*min-width: 650px;*/
    /*margin: 0 auto;*/
    /*background-color: black;*/
}
.react-pdf__Document {
    height: 800px;
    overflow: auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}
.react-pdf__Page {
    background-color: black;
    /*position: relative;*/
}
.my-button {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
}
.react-pdf__message--error {
    color: white;
}
.react-pdf__Page__canvas {
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .react-pdf__Page__textContent,.react-pdf__Page__canvas{
        width: 100% !important;
    }
    /*.react-pdf__Page {*/
    /*    width: 100%;*/
    /*}*/
}